@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">
        function GetCurrentField() {
            $.ajax
            ({
                dataType: "json",
                url: "/Life/GetCurrentField",
                type: "GET",
                cashe: false,
                success: function (response) {
                    DrawField(response.data);
                },
            });
        }

        function DrawField(response) {
            var st = "";
            //идем построчно; в response.CurrentField же массив хранится постолбцово
            for (var j = 0; j < response.height; j++) {
                for (var i = 0; i < response.width; i++) {
                    st += "<div id='x" + i + "y" + j + "' onclick='ChangeCell(" + i + ", " + j + ")'";
                    if (response.CurrentField[i * response.height + j] == true) {
                        st += " class='alive" +
                            +String(Math.floor(Math.random() * 3 + 1)) +
                            "'>";
                    } else {
                        st += " class='dead'>";
                    }
                    st += "</div>";
                }
                st += "<br>";
            }
            document.getElementById("Field").innerHTML = st;
        }

        function ChangeCell(x, y) {
            $.ajax
            ({
                dataType: "json",
                url: "/Life/ChangeCell",
                type: "POST",
                data: "x=" + x + "&y=" + y,
                cashe: false,
                success: function (response) {
                    if (response.success == false) {
                        alert("Произошла ошибка!")
                    }
                    else {
                        var elem = document.getElementById("x" + x + "y" + y);
                        if (elem.getAttribute("class") == "dead") {
                            elem.setAttribute("class", "alive" + String(Math.floor(Math.random() * 3 + 1)));
                        } else {
                            elem.setAttribute("class", "dead");
                        }
                    }
                },
            });
        }

        function MakeMove(x, y) {
            $.ajax
            ({
                dataType: "json",
                url: "/Life/MakeMove",
                type: "GET",
                cashe: false,
                success: function (response) {
                    DrawField(response.data);
                },
            });
        }

        function ClearField() {
            $.ajax
            ({
                dataType: "json",
                url: "/Life/ClearField",
                type: "GET",
                cashe: false,
                success: function (response) {
                    DrawField(response.data);
                },
            });
        }

        function GetPlaner() {
            $.ajax
            ({
                dataType: "json",
                url: "/Life/GetPlaner",
                type: "GET",
                cashe: false,
                success: function (response) {
                    if (response.success == false) {
                        alert(response.message);
                    }
                    else {
                        DrawField(response.data);
                    }
                },
            });
        }

        $(document).ready(GetCurrentField());

    </script>

    <title>Игра</title>
</head>
<body>
    <input type="button" onclick="MakeMove()" value="MakeMove"/>
    <input type="button" onclick="ClearField()" value="ClearField"/>
    <input type="button" onclick="GetPlaner()" value="GetPlaner" />
    <br><br>
    <form id="Field" style="line-height: 0px">Form "Field"</form>
    <br>
    <a href="/Life">Назад</a>
</body>
</html>