@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Игра «Жизнь»</title>
</head>
<body>

<form action="/Life/AddField" method="post">
    <input type="text" placeholder="Ширина поля" name="x"/>
    <input type="text" placeholder="Высота поля" name="y"/>
    <br>
    <p>
        <input type="radio" name="flagBordered" value='true' />Ограниченное<br>
        <input type="radio" name="flagBordered" value='false' checked="checked" />Циклическое<br>
    </p>
    <input type="submit" value="Начать игру"/>
</form>

</body>
</html>